@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

.PostPublicacion {
    /* Pop up/Post Publicacion */
    position: relative;
    width: 720px;
    height: 600px;

    background: #FFFFFF;
    /* Card Shadow */

    box-shadow: 0px 8px 24px -2px rgba(14, 14, 44, 0.2);
    border-radius: 24px;
}

.Head {
    /* pop up Head */
    position: absolute;
    width: 640px;
    height: 42px;
    left: 40px;
    top: 35px;
}

.Forwarder {
    /* Hello, Freight Forwarder */
    position: absolute;
    left: 0%;
    right: 32.19%;
    top: 1.52%;
    bottom: 0%;

    /* Body */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* identical to box height, or 20px */

    display: flex;
    align-items: center;

    /* Text/Plata */
    color: #9F9F9F;
}

.PostTime {
    /* 3 days ago */
    position: absolute;
    left: 84.38%;
    right: 0%;
    top: 18.81%;
    bottom: 52.38%;

    /* Body */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 20px */

    display: flex;
    align-items: center;
    text-align: right;

    /* Text/Plata */
    color: #9F9F9F;
}

.Hairline {
    /* Hairline */

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 97.62%;
    bottom: 0%;

    /* Nube */
    background: #E0E0E0;
}

.CookieImage {
    /* 55168-functional-cookies 1 */
    position: absolute;
    width: 186px;
    height: 186px;
    left: 40px;
    top: 77px;

    /* background: url('../Images/functionalCookies.png'); */
}

.Title {
    /* It’s cookie time! */
    position: absolute;
    height: 50px;
    left: 5.56%;
    right: 51.39%;
    top: 225px;

    /* H2 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.02em;

    /* Text/Pizarra */
    color: #414141;
}

.DatePostPub {
  /* 27.05.2021 9 PM (CDT) */

    position: absolute;
    left: 40px;
    right: 0%;
    top: 55%;


    /* Subtitle */

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    /* Text/Plata */

    color: #9F9F9F;
}

.Subtitle {
    position: absolute;
    height: 58px;
    left: 5.56%;
    right: 51.39%;
    top: 386px;

    /* Small */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 140%;
    /* or 15px */

    display: flex;
    align-items: center;

    /* Text/Pizarra */

    color: #414141;

}

.Shotscreen {
    /* Mask Group */
    position: absolute;
    width: 310px;
    height: 328.98px;
    left: 370px;
    top: 99px;

}

.Foot {
    /* pop up Foot */
    position: absolute;
    width: 640px;
    height: 40px;
    left: 40px;
    bottom: 11px;

    background: #FFFFFF;
}

.ButtonClose {
    /* Button/Tertiary/small */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 0px;
    background-color: white;
    position: absolute;
    width: 60px;
    height: 28px;
    right: 0px;
    top: 12px;

    /* Text/Pizarra */
    border: 1.8px solid #414141;
    box-sizing: border-box;
    border-radius: 8px;
}


.ButtonText {
    /* SMALL */

    position: static;
    width: 40px;
    height: 16px;
    left: 10px;
    top: 6px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Onyx */
    color: #242424;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.DeleteCookiesText {
    position: absolute;
    width: 640px;
    height: 182px;
    left: 40px;
    top: 448px;

    /* Body */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 20px */


    /* Text/Pizarra */

    color: #414141;
}
