

.TitleVideoContent {
   /* Video Content */
    position: relative;
    width: 187px;
    height: 20px;
    left: 20px;
    top: 10px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Pizarra */
    color: #414141;
}

.Videos {
    position: absolute;
    height: 500px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}


