.BoxYoutubeVideos {
   /* Rectangle 36 */

    width: 400px;
    height: 497px;
    left: 100px;
    top: 570px;

    /* White */

    background: #FFFFFF;
    /* Card Shadow */

    box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
    border-radius: 24px;
}

.TitleVideoContent {
   /* Video Content */
    position: absolute;
    width: 187px;
    height: 20px;
    left: 20px;
    top: 10px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Pizarra */
    color: #414141;
}

.Videos {
    position: absolute;
    width: 360px;
    height: 404px;
    left: 20px;
    top: 50px;
    padding-left: 0px;
}
