.Bandejadeavisos {
  position: absolute;
  width: 400px;
  height: 349px;
  left: 100px;
  top: 180px;
  /* White */
  background: #FFFFFF;
  /* Card Shadow */
  box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
  border-radius: 24px;

}

.Communication {
  position: absolute;
  height: 20px;
  left: 20px;
  right: 20px;
  top: 10px;

  /* Pre title */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Text/Pizarra */
  color: #414141;
}

.AvisoItemNuevo {
  position: absolute;
  height: 64px;
  left: 20px;
  right: 20px;
  top: 55px;
  width: 360px;

  /* Claro */
  background: #F4F4F4;

  /* glowing choice */
  box-shadow: 0px 4px 0px #C4C4C4;
  border-radius: 12px;
  border: none;
}

.AvisoItemNuevo:hover, .AvisoItemNuevo:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleNewRelease {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141;
}

.DateRelease {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeRelease {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;


  /* Text/Plata */
  color: #9F9F9F;
}

.AvisoItemViejo1 {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 20px;
  top: 129px;
  width: 360px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */

  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo1:hover, .AvisoItemViejo1:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleCookieTime {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141;
}

.DateCookieTime {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */

  color: #9F9F9F;
}

.TimeCookieTime {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */
  color: #9F9F9F;
}

.AvisoItemViejo2 {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 20px;
  top: 199px;
  width: 360px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */

  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo2:hover, .AvisoItemViejo2:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleVideo2 {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141
}

.DateVideo2 {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeVideo2 {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */

  color: #9F9F9F;
}

.AvisoItemViejo3 {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 20px;
  top: 269px;
  width: 360px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */

  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo3:hover, .AvisoItemViejo3:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleVideo3 {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */

  color: #414141;
}

.DateVideo3 {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeVideo3 {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */
  color: #9F9F9F;
}







/* MODAL POP UP STYLES */
.active-modal {
  overflow-y: hidden;
}


.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal{
  position: absolute;
  top: 680px;
  right: -50px;
  padding: 5px 7px;

  background: #FFFFFF;
  border: 1.8px solid #414141;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
  border-radius: 8px;

}


.close-modalPostPub {
  position: absolute;
  top: 665px;
  right: -50px;
  padding: 5px 7px;
  background: #FFFFFF;
  border: 1.8px solid #414141;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
  border-radius: 8px;

}

.close-modalNoticia {
  position: absolute;
  top: 580px;
  right: -50px;
  padding: 5px 7px;
  background: #FFFFFF;
  border: 1.8px solid #414141;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
  border-radius: 8px;

}

.buttonText {
  /* SMALL */
  position: static;
  width: 40px;
  height: 16px;
  left: 10px;
  top: 6px;

  /* Pre title */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Onyx */
  color: #242424;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

