
.Bandejadeavisos {
  position: relative;
  width: 400px;
  height: 349px;
  left: 100px;
  /* top: 180px; */
  /* White */
  background: #FFFFFF;
  /* Card Shadow */
  box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
  border-radius: 24px;

}


.Communication {
  position: absolute;
  height: 20px;
  left: 20px;
  right: 20px;
  top: 10px;

  /* Pre title */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Text/Pizarra */
  color: #414141;
}

.AvisoItemNuevo {
  position: absolute;
  height: 64px;
  left: 20px;
  right: 20px;
  top: 55px;
  width: 360px;

  /* Claro */
  background: #F4F4F4;

  /* glowing choice */
  box-shadow: 0px 4px 0px #C4C4C4;
  border-radius: 12px;
  border: none;
}

.AvisoItemNuevo:hover, .AvisoItemNuevo:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleNewRelease {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141;
}

.DateRelease {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeRelease {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;


  /* Text/Plata */
  color: #9F9F9F;
}

.AvisoItemViejo1 {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 20px;
  top: 129px;
  width: 360px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */

  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo1:hover, .AvisoItemViejo1:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleCookieTime {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141;
}

.DateCookieTime {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */

  color: #9F9F9F;
}

.TimeCookieTime {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */
  color: #9F9F9F;
}

.AvisoItemViejo2 {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 20px;
  top: 199px;
  width: 360px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */

  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo2:hover, .AvisoItemViejo2:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleVideo2 {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141
}

.DateVideo2 {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeVideo2 {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */

  color: #9F9F9F;
}

.AvisoItemViejo3 {
  position: absolute;
  height: 60px;
  left: 20px;
  right: 20px;
  top: 269px;
  width: 360px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */

  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo3:hover, .AvisoItemViejo3:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleVideo3 {
  position: absolute;
  width: 220px;
  height: 10px;
  left: 15px;
  top: 5px;

  /* Bold */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */

  color: #414141;
}

.DateVideo3 {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 15px;
  top: 30px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeVideo3 {
  position: absolute;
  width: 80px;
  height: 10px;
  right: 14px;
  top: 5px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */
  color: #9F9F9F;
}



