.Welcome {
  margin: 20px 50px 0 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -0.02em;
  color: #9F9F9F;
}

.GridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
  padding: 30px 50px 50px 50px;
}

.Bandejadeavisos {
  position: relative;
  height: 349px;
  background: #FFFFFF;
  /* Card Shadow */
  box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
  border-radius: 24px;
}

.BoxSocialMediaContent {
  position: relative;
  grid-column: span 3;
  grid-row: span 2;
  box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
  background: #FFFFFF;
  border-radius: 24px;

}

.BoxYoutubeVideos {
  position: relative;
   height: 580px;
   background: #FFFFFF;
   /* Card Shadow */
   box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
   border-radius: 24px;
}

.Communication {
  padding: 10px 20px 0 20px;
  /* Pre title */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  /* Text/Pizarra */
  color: #414141;
}



.AvisoItemNuevo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 64px;
  width: 85%;
  padding-left: 15px;
  /* Claro */
  background: #F4F4F4;

  /* glowing choice */
  box-shadow: 0px 4px 0px #C4C4C4;
  border-radius: 12px;
  border: none;

}

.AvisoItemNuevo:hover, .AvisoItemNuevo:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleNewRelease {
  float: left;
  height: 10px;
  margin-bottom: 5px;
  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141;
}

.TimeRelease {
  float: right;
  margin-right: 15px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;


  /* Text/Plata */
  color: #9F9F9F;
}

.DateRelease {
  clear: both;
  height: 10px;
  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}



.AvisoItemViejo1 {
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  top: 125px;
  margin: auto;
  width: 85%;
  padding-left: 15px;

  /* Claro */
  background: #F4F4F4;

  /* Viewed */
  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo1:hover, .AvisoItemViejo1:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleCookieTime {
  float: left;
  height: 10px;
  margin-bottom: 5px;

  /* Bol */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141;
}

.DateCookieTime {
  clear: both;
  height: 10px;


  /* Small */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */

  color: #9F9F9F;
}

.TimeCookieTime {
  float: right;
  margin-right: 15px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */
  color: #9F9F9F;
}

.AvisoItemViejo2 {
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  top: 195px;
  width: 85%;
  margin: auto;
  padding-left: 15px;

  /* Claro */

  background: #F4F4F4;
  /* Viewed */
  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo2:hover, .AvisoItemViejo2:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleVideo2 {
  float: left;
  height: 10px;
  margin-bottom: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */
  color: #414141
}

.DateVideo2 {
  clear: both;
  height: 10px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeVideo2 {
  float: right;
  margin-right: 15px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */

  color: #9F9F9F;
}

.AvisoItemViejo3 {
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  top: 265px;
  width: 85%;
  margin: auto;
  padding-left: 15px;

  /* Claro */
  background: #F4F4F4;

  /* Viewed */
  box-shadow: 0px 4px 0px #C4C4C4;
  border: none;
  border-radius: 12px;
}

.AvisoItemViejo3:hover, .AvisoItemViejo3:active {
  background-color: rgba(226, 226, 226, 0.9);
  border: none;
  box-shadow: 0px 4px 0px rgba(168, 167, 167, 0.9);

}

.TitleVideo3 {
  float: left;
  height: 10px;
  margin-bottom: 5px;

  /* Bold */
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* Text/Pizarra */

  color: #414141;
}

.DateVideo3 {
  clear: both;
  height: 10px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;

  /* Text/Plata */
  color: #9F9F9F;
}

.TimeVideo3 {
  float: right;
  margin-right: 15px;

  /* Small */
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 140%;
  /* or 15px */

  display: flex;
  align-items: center;
  text-align: right;

  /* Text/Plata */
  color: #9F9F9F;
}



