
.TitleSocialMedia {
   /* Social Media Content */
    padding: 20px 20px 0 20px;
    /* Pre title */

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Pizarra */

    color: #414141;
}

.PostsSocialMedia {
    position: absolute;
    height: 852px;
    left: 20px;
    top: 40px;
}

.ScrollArea {
    position: relative;
    bottom: 5px;
}
