.BoxSocialMediaContent {
    position: absolute;
    width: 60%;
    height: 866px;
    left: 520px;
    top: 120px;


    /* Card Shadow */

    box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);

    /* White */
    background: #FFFFFF;
    border-radius: 24px;
}

.TitleSocialMedia {
   /* Social Media Content */
    position: relative;
    width: 296px;
    /* height: 70px; */
    left: 20px;
    top: 20px;

    /* Pre title */

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Pizarra */

    color: #414141;
}

.PostsSocialMedia {
    position: absolute;
    width: 780px;
    height: 852px;
    left: 20px;
    top: 40px;
}

.ScrollArea {
    position: relative;
    bottom: 5px;
}
