@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

.Publicacion {
    /* Pop up/Pre Publicacion */
     position: relative;
     width: 720px;
     height: 600px;

     background: #FFFFFF;
     /* Card Shadow */
     box-shadow: 0px 8px 24px -2px rgba(14, 14, 44, 0.4);
     border-radius: 24px;
 }

.ContenedorText {
    margin-bottom: 60px;
   /* Hello, Freight Forwarder */
    position: relative;
   top: 43px;
    left: 45px;
   /* Body */
   font-family: Open Sans;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 140%;

   /* identical to box height, or 20px */
   display: flex;
   align-items: center;

   /* Text/Plata */
   color: #9F9F9F;
}


/*
.ScrollDiv {
    position: absolute;
    width: 720px;
    height: 600px;
} */

.Head {
    /* pop up Head */
    position: absolute;
    width: 640px;
    height: 42px;
    left: 40px;
    top: 35px;


}


.Hairline {
    /* Hairline */

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 97.62%;
    bottom: 0%;

    /* Nube */
    background: #E0E0E0;


}

.NewsTitle {
    /* News Title and time */
    position: absolute;
    width: 434px;
    height: 150px;
    left: 40px;
    /* top: 89px; */
}

.NewRelease {
    /* TMS New Release */
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 45.65%;

    /* H2 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Text/Pizarra */
    color: #414141;
}

.Time {
    /* 27.05.2021 9 PM (CDT) */
    position: absolute;
    left: 0%;
    right: 0%;
    /* top: 45.65%; */
    bottom: 0%;
    top: 5px;
    /* Subtitle */
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;

    /* Text/Plata */
    color: #9F9F9F;
}

.Hours {
    /* 3 days ago */
    position: absolute;
    left: 84.38%;
    right: 0%;
    top: 5.81%;
    bottom: 15%;

    /* Body */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 20px */

    display: flex;
    align-items: center;
    text-align: right;

    /* Text/Plata */
    color: #9F9F9F;
}

.News {
    position: absolute;
    width: 630px;
    height: 44px;
    left: 40px;
    top: 95px;

    /* Body */
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */


    /* Text/Pizarra */
    color: #414141;
}

.ColumnNewFeatures {
    /* Pop up Column/New Features */
    position: absolute;
    width: 270px;
    height: 260px;
    left: 40px;
    top: 178px;
}

.New {
    /* New ✨ */
    position: absolute;
    width: 86px;
    height: 29px;
    left: 0px;
    top: 0px;

    /* H3 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Text/Pizarra */
    color: #414141;
}


.TitleCountry {

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Plata */
    color: #9F9F9F;

}
.Global {
    position: absolute;
    width: 270px;
    height: 106px;
    left: 0px;
    /* top: 59px; */

    /* Global 🌐 */
    position: absolute;
    width: 96px;
    height: 16px;
    left: 0px;
    /* top: 70px; */
    margin-bottom: 20px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Plata */
    color: #9F9F9F;
}

.TextGlobal {
    position: absolute;
    width: 270px;
    /* height: 75px; */
    left: 0px;
    top: 70px;

    /* Small */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 140%;
    /* or 15px */

    display: flex;
    align-items: center;

    /* Text/Pizarra */

    color: #414141;
}

.ColumnBugs {
    /* Pop up Column/Bug Fixes */
    position: absolute;
    width: 270px;
    height: 345px;
    right: 90px;
    top: 178px;
}

.Bug {
    /* Bug fixes 🐞 */
    position: absolute;
    width: 145px;
    height: 29px;
    left: 0px;
    top: 0px;

    /* H3 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Text/Pizarra */
    color: #414141;
}

.GlobalBug {
    /* Global 🌐 */
    position: absolute;
    width: 96px;
    height: 16px;
    left: 0px;
    top: 70px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Text/Plata */
    color: #9F9F9F;
}

.TextGlobalBug {
    position: absolute;
    width: 270px;
    height: 120px;
    left: 0px;
    top: 160px;

    /* Small */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 140%;
    /* or 15px */

    display: flex;
    align-items: center;

    /* Text/Pizarra */

    color: #414141;
}

.Foot {
    /* pop up Foot */
    position: absolute;
    width: 640px;
    height: 65px;
    left: 40px;
    bottom: 0px;

    background: #FFFFFF;
}

.ButtonClose {
    /* Button/Tertiary/small */
    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 10px;

    position: absolute;
    width: 60px;
    height: 28px;
    right: 0px;
    top: 12px;

    /* Text/Pizarra */
    border: 1.8px solid #414141;
    box-sizing: border-box;
    border-radius: 8px;
}

.ButtonText {
    /* SMALL */
    position: static;
    width: 40px;
    height: 16px;
    left: 10px;
    top: 6px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Onyx */
    color: #242424;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.HairlineBottom {
    /* Hairline */

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: -15px;

    /* Nube */
    background: #E0E0E0;
}

h2 > img {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

