.PopupNews {
    position: relative;
    width: 720px;
    height: 600px;

    background: #FFFFFF;
    /* Card Shadow */

    box-shadow: 0px 8px 24px -2px rgba(14, 14, 44, 0.4);
    border-radius: 24px;
}

.ImageItem {
    width: 100%;
    text-align: center;
}


.GreetingsNews {
    /* Hello, Freight Forwarder */
    position: relative;
    left: 50px;
    top: 36px;
    margin-bottom: 60px;

    /* Body */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */

    display: flex;
    align-items: center;

    /* Text/Plata */

    color: #9F9F9F;
}

.PopupHead {
    /* pop up Head */
    position: absolute;
    width: 640px;
    height: 42px;
    left: 40px;
    top: 25px;
}

.ScrollArea {
    position: relative;
    bottom: 5px;
}

.DateNewsCreated {
    /* 3 days ago */
    position: absolute;
    left: 84.38%;
    right: 0%;
    top: 18.81%;
    bottom: 52.38%;

    /* Body */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */

    display: flex;
    align-items: center;
    text-align: right;

    /* Text/Plata */

    color: #9F9F9F;
}

.HairlineNews {
    /* Hairline */

    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 97.62%;
    bottom: 0%;

    /* Nube */

    background: #E0E0E0;
}

.VideoNews {
    /* 50409-video-marketing 1 */

    position: absolute;
    width: 300px;
    height: 220px;
    left: 40px;
    top: 30px;
}

.ContentNews {
    position: absolute;
    height: 21px;
    left: 5.56%;
    right: 6.94%;
    top: 280px;

    /* Body */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */


    /* Text/Pizarra */

    color: #414141;
}

.TitleVideo {
   /* New company video! */
    position: absolute;
    height: 50px;
    left: 55%;
    right: 6.94%;
    bottom: 200px;
    /* H2 */

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */

    letter-spacing: -0.02em;

    /* Text/Pizarra */

    color: #414141;

}


.FooterNews {
    /* pop up Foot */
    position: absolute;
    width: 640px;
    height: 65px;
    left: 40px;
    bottom: 0px;

    background: #FFFFFF;
}

.HairlineBottomNews {
    /* Hairline */
    /* Auto Layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    height: 1px;
    left: 0%;
    right: 0%;
    top: 0px;

    /* Nube */

    background: #E0E0E0;
}
