.PopupNews {
    /* Pop up/News */
    position: absolute;
    width: 720px;
    height: 600px;
    left: 360px;
    top: 221px;

    background: #FFFFFF;
    /* Card Shadow */

    box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
    border-radius: 24px;
}

.PopupHead {
    /* pop up Head */
    position: absolute;
    width: 640px;
    height: 42px;
    left: 40px;
    top: 35px;
}

.GreetingsNews {
    /* Hello, Freight Forwarder */
    position: absolute;
    left: 0%;
    right: 32.19%;
    top: 9.52%;
    bottom: 42.86%;

    /* Body */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */

    display: flex;
    align-items: center;

    /* Text/Plata */

    color: #9F9F9F;
}

.DateNewsCreated {
    /* 3 days ago */
    position: absolute;
    left: 84.38%;
    right: 0%;
    top: 23.81%;
    bottom: 52.38%;

    /* Body */

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    /* or 17px */

    display: flex;
    align-items: center;
    text-align: right;

    /* Text/Plata */

    color: #9F9F9F;
}

.HairlineNews {
    /* Hairline */

    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 0%;
    right: 0%;
    top: 97.62%;
    bottom: 0%;

    /* Nube */

    background: #E0E0E0;
}

.VideoNews {
    /* 50409-video-marketing 1 */


    position: absolute;
    width: 300px;
    height: 220px;
    left: 40px;
    top: 97px;

}

.ScrollArea {
    position: relative;
    bottom: 5px;
}





