.active-modal {
    overflow-y: hidden;
  }

.modal {
    background-color: rgba(49,49,49,0.8);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}


.modal-open  {
    display: grid;
}



.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
  }

  .close-modal{
    position: absolute;
    top: 580px;
    right: -50px;
    padding: 5px 7px;

    background: #FFFFFF;
    border: 1.8px solid #414141;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
    border-radius: 8px;

  }

  .buttonText {
    /* SMALL */
    position: static;
    width: 40px;
    height: 16px;
    left: 10px;
    top: 6px;

    /* Pre title */
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* Onyx */
    color: #242424;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }


  .close-modalNoticia{
    position: absolute;
    top: 580px;
    right: -50px;
    padding: 5px 7px;

    background: #FFFFFF;
    border: 1.8px solid #414141;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
    border-radius: 8px;

  }

  .close-modalPostPub{
    position: absolute;
    top: 565px;
    right: -50px;
    padding: 5px 7px;

    background: #FFFFFF;
    border: 1.8px solid #414141;
    box-sizing: border-box;
    box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
    border-radius: 8px;

  }
