/* .Publicaciones{
    width: 100vw;
    height: 100vh;
} */

.LoginBar {
    /* Log in Bar */
    position: relative;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    /* Claro */

    background: #F4F4F4;
    /* Card Shadow */

    box-shadow: 0px 8px 18px -2px rgba(14, 14, 44, 0.2);
}

.LogoCompany {
    position: relative;
    width: 168px;
    height: 48px;
    left: 100px;
    top: 15px;

}




.TextFieldUsername {
    position: relative;
    width: 295px;
    height: 48px;
    right: 520px;
    top: 16px;

    background: #FFFFFF;
    /* Text/Plata */

    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    /* Field/Inset */

    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    border-radius: 12px;
}

.TextFieldPassword {
    position: relative;
    width: 295px;
    height: 48px;
    right: 205px;
    top: 16px;

    background: #FFFFFF;
    /* Text/Plata */

    border: 1px solid #9F9F9F;
    box-sizing: border-box;
    /* Field/Inset */

    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    border-radius: 12px;
}

.LoginButton {
    /* Button/Primary */
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    position: fixed;
    width: 85px;
    height: 48px;
    right: 100px;
    top: 16px;

    /* Link */
    background: #2238FF;
    /* Button Shadow */

    box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);
    border-radius: 8px;
}

.LoginButtonText {
    /* Label */
    position: static;
    left: 0%;
    right: 0%;
    top: 4.17%;
    bottom: 4.17%;

    /* Button */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* White */
    color: #FFFFFF;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.LoginButtonContent {
    /* _Button/Content */

    /* Auto Layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: static;
    width: 58px;
    height: 24px;
    left: 13.5px;
    top: 12px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
}



.LoginButton:hover, .LoginButton:active {
    background-color: rgba(226, 226, 226, 0.9);
    border-radius: 8px;
    box-shadow: 0px 4px 0px rgba(14, 14, 44, 0.2);

  }
